{% extends 'base.html' %}

{% block style-container %}
    <link href="/static/webchat/css/webchat.css" rel="stylesheet">
{% endblock %}

{% block page-container %}
    <div class="chat-container">
        <div class="left-container">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#friends-tag" role="tab" data-toggle="tab">好友</a></li>
                    <li role="presentation">
                        <a href="#groups-tag" role="tab" data-toggle="tab">群组</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="friends-tag">
                        <ul class="list-group">
                            {% for friend in request.user.userprofile.friends.select_related %}
                                <li chat-type="single" chat-id="{{ friend.id }}" chat-name="{{ friend.name }}"
                                    class="list-group-item" onclick="Chat(this);">
                                    <span class="badge"></span>
                                    {{ friend.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="groups-tag">
                    <ul class="list-group">
                        {% for group in request.user.userprofile.group_members.select_related %}
                            <li chat-type="group" chat-id="{{ group.id }}" chat-name="{{ group.name }}"
                                    class="list-group-item" onclick="Chat(this);">
                                    <span class="badge"></span>
                                    {{ group.name }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <div class="right-container">
        <div class="chat-name">对象名字</div>
        <div class="msg-box" chat-id="" chat-type=""></div>
        <div class="emoji">表情</div>
        <textarea class="msg-text"></textarea>
        <button class="btn btn-success" style="float: right" onclick="sendMsg();">发送</button>
    </div>
    </div>
{% endblock %}

{% block script-container %}
    <script>

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    window.onload = function () {
        $(".chat-container").height(window.screen.availHeight - 250);
        $(".left-container").css("height", "100%");
        var height = $(".chat-container").height();
        var msg_box_h = height - $(".chat-name").height() - $(".emoji").height() -
            $(".msg-text").height() - $(".right-container button").height();
        $(".msg-box").height(msg_box_h - 35);
    };

    $(document).ready(function () {
        // set csrf before send ajax
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        // end set csrf

        GetNewMsgs();

        $("body").css("overflow","hidden");

        $("body").delegate("textarea","keydown",function (e) {
           if(e.which == 13){
               sendMsg();
           }
        });
}); // end $(document).ready

    function sendMsg() {
        var text_val = $.trim($("textarea").val());
        if (text_val.length > 0){
            AddMsgIntoMsgbox(text_val);
            if($(".msg-box-item").not(".hide").length == 0)
                return;
            var to_id = $(".msg-box-item").not(".hide").attr("chat-id");
            var chat_type = $(".msg-box-item").not(".hide").attr("chat-type");
            var from_id ={{ request.user.userprofile.id }}
            if(to_id && chat_type){
                var msg={
                "from": from_id,
                "to": to_id,
                "type": chat_type,
                "msg" : text_val
            };
            $.post("{% url 'send_msg' %}",{"data":JSON.stringify(msg)},
                function (callback) {
            });
            } // end if
        }
    }

    function AddMsgIntoMsgbox(msg) {
        var new_msg_ele = "<span>"+ "{{ request.user.userprofile.name }}"+"</span> " +
                            "<span>"+ new Date().toLocaleTimeString()+"</span>" +
                            "<div class='msg-item-me'>" + msg + "</div>";
        $(".msg-box-item").not(".hide").append(new_msg_ele);
        $("textarea").val("");

{#        var actually_h = $('.msg-box')[0].scrollHeight;      // 实际内容高度#}
{#        var visiable_h = $(".msg-box").height();             // 可见高度#}
{#        $(".msg-box").scrollTop(actually_h-visiable_h);#}

        // 设置滚动动画， 100是滚动的时间，前面是设置scrollTop的高度
        $(".msg-box").animate({scrollTop:$(".msg-box")[0].scrollHeight}, 100);
    }

    function Chat(ths) {
        $(ths).siblings().removeClass("active");
        $(ths).addClass("active");
        var chat_id = $(ths).attr("chat-id");
        var chat_name = "正在跟"+$(ths).attr("chat-name")+"聊天";
        var chat_type = $(ths).attr("chat-type");

        $(".chat-name").html(chat_name);

        AddChatWindow(chat_id, chat_type);
        SetVisiable(chat_id, chat_type);

        $(".list-group-item[chat-id="+chat_id+"][chat-type="+chat_type+"]").children(".badge:first").text("");
    }

    function AddChatWindow(chat_id, chat_type) {
        var flag = $(".msg-box-item[chat-id="+chat_id+"][chat-type="+chat_type+"]").length; // 对话框是否存在
        if(flag == 0){
            $(".msg-box").append("<div class='msg-box-item hide' chat-id="+chat_id+" chat-type="+chat_type+"></div>");
        }
    }

    function SetVisiable(chat_id, chat_type) {
        if($(".msg-box-item").not(".hide").length > 0){
                $(".msg-box-item").not(".hide").addClass("hide");
            }
        $(".msg-box-item[chat-id="+chat_id+"][chat-type="+chat_type+"]").removeClass("hide");
    }

    function addFriendsMsg(msg) {
        var chat_type = msg["type"];
        var from_id = msg["from"];
        var to_id = msg["to"];
        var id = from_id;
        if (chat_type == "group"){
            id = to_id;
        }

        var chat_name = $(".list-group-item[chat-type='single'][chat-id="+from_id+"]").attr("chat-name");
        var time = (new Date(msg["timestamp"])).toLocaleTimeString();
        var msg = msg["msg"];
        var new_msg_ele = "<span>"+ chat_name +"</span> " +
                            "<span>"+ time +"</span>" +
                            "<div class='msg-item-friend'>" + msg + "</div>";
        AddChatWindow(id, chat_type);
        $(".msg-box-item[chat-id="+id+"][chat-type="+chat_type+"]").append(new_msg_ele);
    }

    function GetNewMsgs() {
        $.getJSON("{% url 'get_msg' %}",function(callback){
            if (callback.length != 0)
            {
                console.log(callback);
                for(var i=0;i<callback.length; i++)
                {
                    var from_id = callback[i]["from"];
                    var chat_type = callback[i]["type"];
                    var to_id = callback[i]["to"];
                    var id = from_id;

                    if (chat_type == "group"){
                        id = to_id;
                    }

                    var msg_count = $(".list-group-item[chat-type='"+chat_type+"'][chat-id="+id+"]").children(".badge:first").text();
                    if(msg_count.length == 0){
                        msg_count = 0;
                    }
                    msg_count = parseInt(msg_count);
                    msg_count += 1;
                    $(".list-group-item[chat-type='"+chat_type+"'][chat-id="+id+"]").children(".badge:first").text(msg_count);
                    addFriendsMsg(callback[i]);
                }
            }// endif
            GetNewMsgs();
        });
    }
    </script>
{% endblock %}